html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, command, datalist,
details, embed, figcaption, figure, footer, header,
hgroup, mark, meter, nav, output, progress, section,
summary, time, video {
	margin:0; padding:0; vertical-align:baseline;
	border:0; outline:0; font-size:100%;
	background-color:transparent; background-repeat:no-repeat;
}
html { height:100%; }
body { text-align:center; line-height:1.4; font-size:62.5%; }
ul, ol { list-style:none; list-style-position:outside; }
table { border-collapse:collapse; border-spacing:0; }
caption { text-align:center; caption-side:top; }
acronym[title], abbr[title] { cursor:help; }
del { text-decoration:line-through; }
strong { font-weight:bold; } 
em { font-style:italic; }
sup { vertical-align:super; font-size:80%; }
sub { vertical-align:sub; font-size:80%; }
small { font-size:80%; }
big { font-size:120%; }
hr { height:1px; }
textarea { overflow:auto; resize:none; }
input[type="hidden"] { display:none; }
blockquote, q { quotes:none; }
q:before, q:after { content:'"'; }
:focus { outline:0; }
::-moz-focus-inner { border-color:transparent; }